@import 'style.css';

canvas {
  position: absolute;
  background-size: cover;
  background-image: url("../board.png");
  display: block;
  margin: 0 auto;
  align-content: center;
}

h1 {
  position: absolute;
  font-size: 400%;
  border: none;
  top: 15px;
  left: 15px;
  color: white;
}

h2{
  color: white;
  position: relative;
}

#right{
  position: absolute;
  top: 200px;
  left: 15px;
  height: 50%;
}

#playerButtons{
  position: absolute;
  top: 130px;
  left: 15px;
  height: 30%;
}

button{
  position: relative;
  background-color: red;
  color: whitesmoke;
  font-size: 100%;
  border: none;
  padding: 15px;
}

button:hover:enabled{
  background-color: black;
  transform: scale(1.2) rotateZ(-5deg);
  transition: all 2s ease;
}

button:disabled{
  background-color: black;
}

canvas:not(:fullscreen){
  position: absolute;
  top: 10px;
  left: 650px;
}

#rollDiceButton{
  animation: button-slide 0.5s cubic-bezier(.39,.01,.62,.99)
}

#diceLetter{
  color: white;
  font-size: 500%;
}

#toggleFullScreen{
  top:670px;
  left:1450px;
}

@media only screen and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-height: 600px) {
  body {
    background-color: lightblue;
  }
}

html:fullscreen{
  background-color: lightblue;
}

html:-webkit-full-screen {
  background-color: lightblue;
}

html:-moz-full-screen {
  background-color: lightblue;
}

html:-ms-fullscreen {
  background-color: lightblue;
}