@import 'style.css';

button{
    position: absolute;
    background-color: red;
    color: whitesmoke;
    font-size: 500%;
    border: none;
    padding: 20px;
    bottom: 150px;
    right: 325px;
}

button:hover{
    background-color: black;
    transform: scale(1.2) rotateZ(-5deg);
    transition: all 2s ease;
}

#left {
    float: left;
    width: 70%;
    background-color: #AAA;
}


h3{
    position: relative;
    color: white;
    left: 50px;
    border: none;
    top: 550px;
}

h2{
    position: relative;
    color: white;
    left: 50px;
    border: none;
    top: 550px;
}

h3::before{
    content: "👌🏻 ";
}

h3::after{
    content: " 👌🏾";
}

.button-slide-play{
    animation: button-slide 0.5s cubic-bezier(.39,.01,.62,.99)
}

.slide-bottom{
    animation: slide-bottom 5s cubic-bezier(.39,.01,.62,.99)
}